@import url("./editoricons.css");
@import url("./timeline.css");
@import url("./sidebars.css");
@import url("./clip.css");

div.pane.editor {
    position: absolute;
    top: 0;
    left: 341px;
    width: calc(var(--screenWidth) - 341px);
    height: 100%;
    transition:
        top 0.25s cubic-bezier(0.55, 0.14, 0.13, 1),
        height 0.25s cubic-bezier(0.55, 0.14, 0.13, 1),
        left 0.5s cubic-bezier(0.6, 0.38, 0, 1.01), width 0.5s cubic-bezier(0.6, 0.38, 0, 1.01);
}
div.app.leftbarhide > div.pane.editor {
    left: 39px;
    width: calc(var(--screenWidth) - 39px);
}
div.app.pluginsopen > div.pane.editor {
    top: 250px;
    height: calc(100% - 250px);
}

div.editor > div.editorbar {
    background-color: var(--second-background);
    border-bottom: 2px solid var(--border-color);
    height: 38px;
    padding: 8px;
    overflow-x: scroll;
    white-space: nowrap;
}
div.editorbar > div.editorbarentry {
    display: inline-block;
    border-right: 2px solid var(--border-color);
    height: 38px;
    vertical-align: top;
}
div.editorbar > div.editorbarentry:last-child {
    border-right: none;
}

div.editorbarentry.button > div.label {
    border: 2px solid var(--border-color);
    margin: 7px 12px;
    padding: 0 12px;
    color: var(--color);
}
div.editorbarentry.button.plugins {
    transition: background 0.35s ease, border-color 0.35s ease, color 0.35s ease;
}
div.app.dragmode div.editorbarentry.button.plugins {
    background: var(--dragmode-background);
}
div.app.dragmode div.editorbarentry.button.plugins > div.label {
    border-style: var(--dragmode-border-style);
    border-color: var(--dragmode-border);
    color: var(--dragmode-color);
}

div.editorbarentry.time, div.editorbarentry.tempo {text-align: center;}
div.editorbar > div.editorbarentry.time {width: 120px;}
div.editorbar > div.editorbarentry.tempo {width: 70px;}

div.editorbar > div.editorbarentry.time > div.timecode, div.editorbar > div.editorbarentry > div.value {
    cursor: grab;
}
div.editorbar > div.editorbarentry.time > div.timeunit, div.editorbar > div.editorbarentry.tempo > div.label {
    color: var(--dim2-color);
}

div.editorbarentry.playback {
    padding: 0 7px;
}

div.playbackbutton {
    width: 16px; height: 16px;
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    margin: 6px 5px;
    
    -webkit-mask-size: cover;
    -webkit-mask-position: center;
    -webkit-mask-repeat: none;
    mask-size: cover;
    mask-position: center;
    mask-repeat: none;

    background-color: var(--playback-button);
}

div.editorbarentry.toolsrack {}
div.editorbarentry.toolsrack > div.tools {
    width: 16px;
    height: 16px;
    padding: 3px;
    margin: 8px 6px;
}
div.editorbarentry.toolsrack > div.tools:first-child {
    margin-left: 12px;
}
div.editorbarentry.toolsrack > div.tools:last-child {
    margin-right: 12px;
}

div.sidebar.tracks {
    width: 240px;
    height: calc(100% - 95px);
    padding: 0;

    overflow-y: scroll;
}
div.bartrackentry, div.bartrackadd {
    padding: 10px 20px;
}
div.addicon {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 8px;

    -webkit-mask-size: cover;
    -webkit-mask-position: center;
    -webkit-mask-repeat: none;
    mask-size: cover;
    mask-position: center;
    mask-repeat: none;

    -webkit-mask-image: url("../../../assets/ionicons/add.svg");
    mask-image: url("../../../assets/ionicons/add.svg");
    background-color: var(--icon-accent-color);
}
div.bartrackentry > *, div.bartrackadd > * {
    vertical-align: top;
}
div.bartrackentry > div.volumetoggle {
    width: 19px;
    height: 19px;
    margin-right: 8px;
    display: inline-block;

    -webkit-mask-size: cover;
    -webkit-mask-position: center;
    -webkit-mask-repeat: none;
    mask-size: cover;
    mask-position: center;
    mask-repeat: none;
}
div.bartrackentry > div.label, div.bartrackadd > div.label {
    display: inline-block;
}
div.bartrackentry > div.label {
    color: var(--off-color);
}
div.bartrackentry.on > div.label {
    color: var(--color);
}
div.bartrackentry.on > div.volumetoggle {
    -webkit-mask-image: url("../../../assets/ionicons/volume-low-outline.svg");
    mask-image: url("../../../assets/ionicons/volume-low-outline.svg");
    background-color: var(--icon-accent-color);
}
div.bartrackentry > div.volumetoggle {
    -webkit-mask-image: url("../../../assets/ionicons/volume-off-outline.svg");
    mask-image: url("../../../assets/ionicons/volume-off-outline.svg");
    background-color: var(--icon-off-color);
}

div.trackscontainer {
    vertical-align: top;
    display: inline-block;
    width: calc(100% - 242px);
    height: calc(100% - 95px);
    position: relative;

    overflow-y: scroll;
}
canvas.track {
    width: 100%;
    height: 39px;
    background: var(--playlist-track-odd);
    position: relative;
    display: block;
}
canvas.track:nth-child(even) {
    background: var(--playlist-track-even);
}

div.sidebar.tracks::-webkit-scrollbar, div.trackscontainer::-webkit-scrollbar {
    display: none;
}