div.pane.explorer {
    position: absolute;
    top: 0;
    left: 39px;
    opacity: 0;
    width: 300px;
    height: 100%;
    transition: 0.5s cubic-bezier(0.6, 0.38, 0, 1.01) left, 0.5s linear opacity;

    border-right: 2px solid var(--border-color);
}
div.app.leftbarexplorer > div.pane.explorer {
    opacity: 1;
}
div.pane.explorer > div.panetitle {
    background: var(--second-background);
    width: calc(100% - 24px);
    padding: 7px 12px;
    text-align: center;
}
div.pane.explorer > div.searchbar {
    width: calc(100% - 24px);
    padding: 10px 12px;

    -webkit-user-modify: read-write;
    outline: none;
    position: relative;
}
div.searchbar[placeholder]:empty:after {
    content: attr(placeholder);
    position: absolute;
    color: var(--off-color);
    background-color: transparent;
}
div.searchbar:before {
    content: '';
    position: absolute;
    top: 85%; left: 7px;
    width: calc(100% - 14px); height: 2px;
    background: var(--border-color);
}

div.pane.explorer > div.explorercontents {
    position: relative;
    width: 100%;
    height: calc(100% - 72px);
    overflow-y: auto;
}
div.explorercontents::-webkit-scrollbar {
    display: none;
}

div.explorercontents > details {
    border-bottom: 2px solid var(--background);
}
div.explorercontents > details > summary {
    background: var(--second-background);
    padding: 10px 28px;
    color: var(--dim-color);
    outline: none;
    position: relative;
}
div.explorercontents > details > summary::-webkit-details-marker {
    display: none;
}
div.explorercontents > details > summary::before {
    content: '';
    position: absolute;
    top: 9px; left: 8px;
    width: 20px; height: 20px;
    background: url("../../../assets/arrow-solid-right.svg");
    background-size: cover;
    transition: transform 0.45s cubic-bezier(0, 0, 0.05, 1.01);
}
div.explorercontents > details[open] > summary::before {
    transform: rotate(90deg);
}
div.explorercontents > details > div.explorerentry {
    position: relative;
    padding: 10px 12px;
    padding-left: 20px;
    cursor: grab;

    border-bottom: 2px solid var(--second-background);
}
div.explorerentry:before {
    content: '';
    position: absolute;
    top: 8px;
    left: 3px;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: var(--border-color);

    box-shadow:
        0 10px 0 var(--border-color),
        0 20px 0 var(--border-color);
}
div.explorerentry:after {
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    width: 5px;
    height: 100%;
    background: var(--color);
}