div.pane.plugins {
    position: absolute;
    top: 0;
    left: 341px;
    width: calc(100% - 341px);
    height: 248px;
    border-bottom: 2px solid var(--border-color);

    margin-top: -250px;
    transition: margin-top 0.25s cubic-bezier(0.55, 0.14, 0.13, 1),
        left 0.5s cubic-bezier(0.6, 0.38, 0, 1.01),
        width 0.5s cubic-bezier(0.6, 0.38, 0, 1.01);
}
div.app.leftbarhide > div.pane.plugins {
    left: 39px;
    width: calc(100% - 39px);
}

div.app.pluginsopen > div.pane.plugins {
    margin-top: 0;
}

div.sidebar.pluginslisting {
    padding: 0;
    width: 240px;
    height: 100%;

    overflow: scroll;
    display: inline-block;
}
div.sidebar.pluginslisting::-webkit-scrollbar {
    display: none;
}

div.pluginadd {
    padding: 10px 20px;
}
div.pluginadd > * {
    vertical-align: top;
}
div.pluginadd > div.label {
    display: inline-block;
}

div.pluginlistingentry {
    padding: 10px 20px;
}
div.pluginlistingentry.selected {
    background: var(--plugintray-selected);
}