div.appwrapper {
    position: absolute;
    top: 41px;
    left: 0;
    width: var(--screenWidth);
    height: calc(var(--screenHeight) - 41px);
}
div.appwrapper > div.app {
    position: relative;
    width: 100%;
    height: 100%;
}