div.contextmenu {
    display: block;
    position: absolute;
    color: black;
    background: white;
    min-width: 200px;
    box-shadow: 0 0 6px black;
    background-color: #efefef;
}
div.contextmenu::before {
    content: '';
    display: block;
    width: 100%; height: 2px;
    background-color: #7c7c7c;
}

div.contextmenu > div.ctxbutton {
    padding: 7px 15px;
    border-radius: 3px;
}
div.contextmenu > div.ctxbutton:hover {
    background-color: #dfdfdf;
}