div.contextmenu {
    display: block;
    position: absolute;
    color: var(--contextmenu-color);
    background: white;
    min-width: 200px;
    box-shadow: 0 0 6px black;
    background-color: var(--contextmenu-background);
}
div.contextmenu::before {
    content: '';
    display: block;
    width: 100%; height: 2px;
    background-color: var(--contextmenu-accent);
}

div.contextmenu > div.ctxbutton {
    padding: 7px 15px;
    border-radius: 3px;
}
div.contextmenu > div.ctxbutton:hover {
    background-color: var(--contextmenu-hover);
}