div.tools {
    display: inline-block;

    -webkit-mask-size: cover;
    -webkit-mask-position: center;
    -webkit-mask-repeat: none;
    mask-size: cover;
    mask-position: center;
    mask-repeat: none;

    background: var(--tools-unselected);
}
div.tools.selected {
    background: var(--tools-selected);
}

div.tools.cursor {
    -webkit-mask-image: url("../../assets/ionicons/ellipse-outline.svg");
    mask-image: url("../../assets/ionicons/ellipse-outline.svg");
}
div.tools.pencil {
    -webkit-mask-image: url("../../assets/ionicons/pencil-outline.svg");
    mask-image: url("../../assets/ionicons/pencil-outline.svg");
}
div.tools.move {
    -webkit-mask-image: url("../../assets/ionicons/move-outline.svg");
    mask-image: url("../../assets/ionicons/move-outline.svg");
}