div.topbar {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--screenWidth) - 24px);

    background-color: var(--topbar-background);
    padding: 0 12px;
    border-bottom: 2px solid var(--topbar-border);
    z-index: 2;
}

div.topbar > div.topbarbutton {
    display: inline-block;
    padding: 10px 20px;

    transition: background-color 0.08s linear;
}
div.topbar > div.topbarbutton:hover {
    background-color: var(--topbar-button-hover);
}

div.topbar > div.topbarstatus {
    background-color: var(--topbar-status);
    position: absolute;
    top: 0; right: 0;
    width: 200px; height: 32px;
    padding: 3.5px 9px;
    font-size: 12px;
    text-align: right;
}
